<!-- Lists all of the parts which can be created. -->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Products Ready to be created</h2>

			<table class="table sortable">
				<thead>
					<tr>
					<th>Part #</th>
					<th>sku</th>
					<th>Description</th>
					<th>Price</th>
					<th>Available on</th>
					<th>Shipping category</th>
					<th colspan="2">Make a Product</th>
					</tr>
				</thead>
				<tbody>
					<% @excels.each do |excel| %>
						<%= form_for [:admin, @product], :html => {:multipart => true} do |f|%>

						<tr>
							<td><%=excel.part_num%></td>
							<td><%=excel.part_num%></td>
							<td><%=excel.description%></td>
							<td><%=excel.price%></td>
							<td><%=excel.ForSale%></td>
							<td><%=excel.part_num%></td>
							<td><%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'} %></td>
						</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>	


		</div>
	</div>
	
</div>